.card * {
    --svg-movie-btn-save: url("../../images/add.svg");
    --svg-movie-btn-unsave: url("../../images/delete.svg");
    --svg-movie-btn-delete: url("../../images/delete-saved.svg");
}

.card {
    border-radius: 6px;
    background-color: var(--color-card);
}

.card__image {
    object-fit: cover;
    background-position: center;
    width: 100%;
    height: 203px;
    /* width: 364px;*/
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.card__link {
    text-decoration: none;
    grid-column: 1/3;
}

.card__description {
    padding: 14px 14px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.card__name {
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: start;
    margin: 0;
    
}

.card__duration {
    line-height: 37px;
    display: block;
    font-weight: 400;
    font-size: 11px;
    line-height: 10px;
    color: var(--color-text);
    margin: 0;
    text-align: start;
    white-space: nowrap;
}

.card__btn {
    margin: 19px 14px 0 0;
    cursor: pointer;
}

.card__btn-saved, .card__btn-unsave, .card__btn-delete {
    width: 14px;
    height: 12px;
    border: none;
    position: relative;
    place-items: center;
}

.card__btn-saved, .card__btn-unsave {
    display: grid;
    left: 317px;
    bottom: 86px;
}

.card__btn-saved {
    background: no-repeat var(--svg-movie-btn-save);
}

.card__btn-unsave {
    background: no-repeat var(--svg-movie-btn-unsave);
}

.card__btn-delete {
    background: no-repeat var(--svg-movie-btn-delete);
    left: 151px;
    bottom: 67px;
}

.card__link {
    position: relative;
    display: block;
    width: 100%;
    overflow: hidden;
    cursor: pointer;
}

.card .col {
    flex: 0 1 auto;
    align-self: stretch;
}

.card .col:nth-child(2) {
    flex: 0 1 205px;
    align-self: stretch;
}

.card__header {
    display: flex;
    align-items: center;
    width: 100%;
}

.card__header .row {
    flex: 0 1 auto;
    align-self: stretch;
    width: 100%;
    overflow: hidden;
}

.card__header .row:nth-child(2) {
    flex: 0 0 40px;
    align-self: stretch;
    padding: 2px 5px;
}

@media (max-width: 768px) {
    .card__image {
        height: 190px;
    }

    .card .col:nth-child(2) {
        flex: 0 1 170px;
    }

    .card__btn-saved, .card__btn-unsave {
        left: 294px;
        bottom: 82px;
    }

    .card__description {
        gap: 14px;
    }

    .card__btn-delete {
        left: 140px;
        bottom: 62px;
    }
}

@media (max-width: 320px) {
    .card__image {
        height: 168px;
    }

    .card__btn-saved, .card__btn-unsave {
        left: 259px;
        bottom: 84px;
    }

    .card__name {
        font-size: 12px;
    }

    .card__btn-delete {
        left: 125px;
        bottom: 64px;
    }
}
