.search {
    text-align: center;
    margin-top: 60px;
    margin-bottom: 80px;
    margin-left: 70px;
    margin-right: 70px;
}

form.search__form {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    margin: 0 auto;
    border-bottom: 1px solid var(--color-dark-bg);
}

.search__button {
    aspect-ratio: 1;
    place-items: center;
    min-width: 34px;
    min-height: 34px;
    background-image: var(--svg-profile);
    background-color: var(--color-url);
    -webkit-mask: unset;
    mask: unset;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s ease;
    transform: translate(-23px, 0);
    position: relative;
    left: 50%;
    margin-top: -46px;
}

input.search__input::placeholder {
    font-size: 12px;
}

.search__input {
    height: 44px;
    background-color: var(--color-dark-outline);
    border-radius: 40px;
    text-indent: 22px;
    color: var(--color-white);
    border: none;
    font-size: 14px;
    width: 100%;
}

.search__input:focus,
textarea:focus {
    outline: solid var(--color-text);
}

.search__input::placeholder {
    font-size: 18px;
    line-height: 20px;
}

@media screen and (max-width: 1279px) {
    .search {
        text-align: center;
        margin-top: 79px;
        margin-left: 30px;
        margin-right: 30px;
        margin-bottom: 80px;
    }
}

@media screen and (max-width: 767px) {
    .search {
        text-align: center;
        margin-top: 80px;
        margin-bottom: 49px;
        margin-left: 14px;
        margin-right: 15px;
    }

    input.search__input::placeholder {
        font-size: 11px;
    }

    .search__input {
        text-indent: 17px;
    }
}